body{
    background-color: rgb(239, 237, 117);
}
h1{
    text-align: center;
}
div{
    /* border-width: 20px;*/
   /* border-style: groove; /*dashed,dotted,double,inset,outset,groove*/
   /* border-color: red; */
     
   border: 25px groove rgb(237, 15, 15);


   border-radius: 100px;    /* edges will be round*/

   /* border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   border-top-left-radius:50px ;
   border-bottom-left-radius: 50px; */

   width: 100px;
   background-color: black;
   color: white;
   text-align: center;

   padding: 50px;
   /* padding-top: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-left: 20px; */

   /*shorthand prop for padding*/
   /* padding: 50px;
   padding: 10px 20px;
   padding: 10px 20px 30px;
   padding: 10px 20px 30px 40px; */
}
#container{
    height: 300px;
    width: 200px;
    padding: 50px;
    text-align: justify;
    border: 15px double aqua;
    border-radius:20px;
}