body{
    background-color: black;
}
h1{
     color: white;
     text-align: center;
     font-size: 50px;
     text-decoration: 2px double white underline;
}
#linear-gradiant{
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to top left,red 0%,red 50%,aqua 50%);
    position: absolute;
    left: 500px;
}
#rlinear-gradiant{
    height: 200px;
    width: 200px;
    background-image: repeating-linear-gradient(to top left,red 0%,red 5%,aqua 5%,aqua 10%);
    position: absolute;
    left: 800px;
    top: 130px;
}
#flag{
    height: 200px;
    width: 300px;
    background-image: linear-gradient(orange 0%,orange 33.3%,white 33.3%,white 66.6%,green 66.6%,green);
    position: absolute;
    left: 100px;
}
#chakra{
    height: 60px;
    width: 60px;
    background-image:repeating-conic-gradient(blue 0%,blue 2.1%,white 2.1%, white 4.2%);
    position: absolute;
    left: 220px;
    top: 195px;
    border-radius: 200px;
}
button{
    height: 50px;
    width: 200px;
    background-image: linear-gradient(to right, grey ,white);
    position: absolute;
    top: 70px;
    left: 100px;
}
#conic{
    height: 200px;
    width: 300px;
    background-image:conic-gradient(rgb(71, 249, 228) ,rgb(177, 36, 206),grey);
    position: absolute;
    bottom: 50px;
    left: 700px;
}
#rconic{
    height: 200px;
    width: 300px;
    background-image: repeating-conic-gradient(yellow 0%,yellow 33.4%,white 33.4%,white 66.7%,grey 66.7%,grey);
    position: absolute;
    bottom: 50px;
    left: 300px;
}