#demo{
    height: 400px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#first{
    height: 250px;
    width: 250px;
    background-color: antiquewhite;
    background-image: url(https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto,fl_lossy,c_fill,g_auto/ca86a3b0d5d84e0591e1a8da01830e35_9366/gazelle-shoes.jpg);
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
#second{
    height: 250px;
    width: 250px;
    background-color: blue;
    background-image: url(https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto,fl_lossy,c_fill,g_auto/979b1355f7da4d3b8cfaa81700a2886b_9366/gazelle-shoes.jpg);
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
#third{
    height: 250px;
    width: 250px;
    background-color: rgb(225, 127, 86);
    background-image: url(https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto,fl_lossy,c_fill,g_auto/0056db4c3eba4af5b9532fc45f94e418_9366/samba-og-shoes.jpg);
    background-repeat: no-repeat;
    background-size: 250px 250px;

}
#fourth{
    height: 250px;
    width: 250px;
    background-color: rgb(226, 125, 230);
    background-image: url(https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto,fl_lossy,c_fill,g_auto/aa8968648a604bb3971dafab00e9b6ec_9366/samba-og-shoes.jpg);
    background-repeat: no-repeat;
    background-size: 250px 250px;
}