nav{
    height: 100px;
    width: 100%;
    background-color: black;
    color: beige;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: fixed;
    z-index: 5;
}
*{
    margin: 0px;
}
a{
    color: white;
    text-decoration: none;
}
#demo{
    height:40px;
    width: 50px;
    background-color: #f90404;
    display: flex;
    justify-content: center;
    align-items: center;
}
#demo1{
    width: 400px;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
#demo2{
    width: 500px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
h1{
    size: 10px;
}
main{
    height: 600px;
    width: 100%;
    background-image: url("https://media.istockphoto.com/id/1640251173/photo/make-up-professional-cosmetics-on-blue-background.jpg?s=612x612&w=0&k=20&c=dDB3dMqb8UCQukRPY2Z5bgLGyD08fxOUoVRF0ty7Mys=");
    background-repeat: no-repeat;
    background-size: 100% 600px;

}
#main1{
    height: 300px;
    width: 500px;
    position: absolute;
    bottom: 70px;
    left: 70px;
    padding: 0px 20px;
    text-align: justify;
    text-indent: 100px;
    text-align-last: center;
}
#main2{
    height:300px;
    width: 450px;
    background-image: url("https://cdn.pixabay.com/photo/2015/05/31/13/29/lipstick-791761_1280.jpg");
    background-repeat: no-repeat;
    background-size: 450px 300px;
    position: absolute;
    right: 70px;
    bottom: 100px;
    border-radius: 10px;
}
#btn{
    position: absolute;
    bottom: 80px;
    left: 150px;
    display: flex;
    width: 220px;
    justify-content:space-between;
    
}
button{
   padding: 10px 20px;
   border: none;
   background-color: black;
   color: white;
}
#arrow{
    height: 40px;
    width: 40px;
    background-color: black;
    position:fixed;
    bottom:20px;
    right: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
