*{
    background-color: hotpink ;
}
h1{
    background-color: beige; font-style: oblique;
}
#demo{
    color: aliceblue; background-color: black;
}
.a{
    color: black; background-color: aqua; font-style: italic;
}
button{
    color: beige; background-color: blueviolet;
}